body {
	background-image:url('http://www.win7wallpapers.com/wallpapers/sky_blue_background-1920x1080.jpg');
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: auto;
	width: 90%;
}

p {
	margin:10px;
	padding:0px;
}

h1 { 
	font-family: "Monotype Corsiva", "Apple Chancery", fantasy; 
}

h3, .note {
	text-decoration: underline;
}

a:hover, a:link, a:visited {
	color: #3923D6;
	text-decoration: none;
}

a:hover {
	font-size: 125%;
	font-style: italic;
}

img.logos {
	box-shadow: 5px 5px 2.5px #888888;
	height: 50px;
	width: 50px; 
}

img.pizzas, img.porder, img.poven {
	box-shadow: 5px 5px 2.5px #888888;
	height: 300px;
	width: 300px;
}

img.pizzas {
	display: block;
	margin: auto;
	margin-top: 5px;
}

img.birdy, img.logos, img.poven { 
	float: left;
}

img.ironman, img.porder {
	float: right;
}

img.ironman, img.logos, img.porder, img.poven {
	margin: 10px;
}

img.birdy {
	height: 25px;
	width: 25px;
}

li, nav li {
	font-size: 18px;
	list-style: none;
}

nav li{
	padding:10px;
}

nav li, nav.navbar ul {
	display: inline-block;
}

nav.navbar li {
	background-color: #D0E6FF;
	border-radius: 15px;
}

nav.navbar ul {
	margin: 10px;
	padding: 0px;
	width: 100%;
}

nav a:visited, nav a:link, nav a:hover {
	color: #2966B8;
	text-decoration: none;
}

nav a:hover {
	font-size: 120%;
}

blockquote {
	border-left: 2px dashed #999;
	display: inline-block;
	font-variant:small-caps;
	margin: 0em 1em;
}

blockquote:first-letter{
	font-family: "Monotype Corsiva", fantasy;
	font-size: 150%;
}

.bolding, .price {
	font-weight: bold;
}

.dawgpizza {
	padding: 5px;
}

#info, nav.navbar li, nav.navbar ul, .middle {
	text-align: center;
}

#info, .dawgpizza {
	margin: 0px;
}

.note {
	color: #990000;
}

.pads {
	padding: 10px;
}

.top {
	background-color: #FBF5E6;
	height: 90px;
	margin-bottom: 10px;
	width: 100%;
}

#wrapping {
	background-image: url('http://students.washington.edu/jylcheng/info343/Homework1/img/flower.jpg');
	height: 100%;
}

